# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work

# pprof debugger
pprof_debug.go

# test test test are not important, since this repo mostly using standard library and simple function
# Reason: I prefer not to spend excessive effort writing a test function when this repository already contains an abundance of well-developed features. 
# Additionally, writing tests should be reserved for stupid complex Go code (e.g, complexity reached 10+), which may be more prone to errors and thus require more rigorous validation.
*_test.go

# Respect Privacy
testACatPicture.jpg
testACuteGirlPicture.png
# This my Pet
testARareEaglePicture.png
